<style>

#container
{
	width:100%;
	height:100%;
	background-color:red;
	
}

#sidebar
{
	width:15%;
	height:100%;
    background-color:blue;
    float: left;
}

#content
{
	width:80%;
	height:100%;
	background-color:green;
	float:left;
	margin-left:20px;
}

#logo
{
	width:90%;
	height:20%;
	margin:5%;
	background-color:yellow;
}

#search
{
	width:100%;
	height:10%;
	background-color: white;
}

#navi
{
	width:90%;
	height:60%;
	background-color:gray;
	margin:5%;
}
</style>